html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/* ************************************************ */
/* LOGO */

/* ************************************************ */
/* LOGIN VIEW */

/* ************************************************ */
/* SIGNUP VIEW */

/* ************************************************ */
/* DASHBOARD VIEW */

/* ************************************************ */
/* FOOTER */
