html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f0f0f8;
  color: #542f17;
}

#root {
  display: grid;
  grid-template-areas:
    "logo"
    "view-container"
    "footer";
  height: 100vh;
  justify-content: center;
}

/* LOGO */
.logo-container {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #decfb5;
  height: 110px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.logo-container img {
  object-fit: cover;
  height: 80px;
  margin-left: 25px;
  margin-top: 15px;
  margin-right: 0;
}

.logo-container h1 {
  margin-top: 40px;
}

/* **************************************************** */
/* DASHBOARD VIEW */

.dashboard-post {
  margin-top: 1000px;
}
.post-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  /* height: 100vh; */
  width: 400px;
  margin: 50px auto;
}

.post-container h4 {
  margin-top: 20px;
  margin-left: 10px;
}

.post-container input {
  color: #542f17;
  margin-top: 1px;
  margin-bottom: 15px;
  margin-left: 9px;
  border: 1px solid #8c4e2a;
  background-color: #decfb5;
  height: 30px;
  min-width: 380px;
  padding: 15px;
}

.post-container textarea {
  color: #542f17;
  margin-bottom: 15px;
  margin-left: 9px;
  border: 1px solid #8c4e2a;
  background-color: #decfb5;
  height: 200px;
  min-width: 380px;
  /*padding: 15px;*/
}

.button-post-save {
  background-color: #f57b53;
  border: 1px solid #a6977b;
  border-radius: 15px;
  color: #fff;
  padding: 15px;
  margin-left: 150px;
}

/* LOGIN & SIGN UP CONTAINER */

.signup-container,
.login-container {
  grid-area: view-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 300px;
  /* min-height: 100vh; */
  /* max-width: 375px; */
}

/* .login-container {
  grid-area: view-container;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  
  /* min-height: 100vh; */
/* max-width: 375px; */



.container h2 {
  color: #6583bf;
  font-weight: lighter;
  text-align: center;
}

.container-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around; */
  /* flex-wrap: wrap; */
}

.container-item label,
.label-signup {
  text-align: center;
  color: #542f17;
  padding: 10px;
}

.container-item input {
  border: 1px solid #8c4e2a;
  border-radius: 15px;
  background-color: #decfb5;
  height: 30px;
  padding: 15px;
  flex-wrap: wrap;
  width: 25em;
}

.container-item input:focus {
  padding: 15px;
  color: #542f17;
  background-color: white;
}

/* error feedback */

.error-feedback-container {
  display: flex;
  margin-top: 5px;
}

.error-feedback-container span {
  color: red;
  font-size: 15px;
}

.error-icon {
  width: 18px;
  margin-left: 5px;
  margin-right: 3px;
}

/* container boton iniciar sesion y registro */
.signup-container-btn {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* LOGIN */
.login-btn {
  background-color: #f57b53;
  border: 1px solid #a6977b;
  border-radius: 15px;
  color: #fff;
  padding: 15px;
  cursor: pointer;
}

/* ************************************************ */
/* LOGIN GOOGLE  */
.login-google {
  display: flex;
  flex-direction: column;
}

.login-google-btn {
  justify-self: center;
  border: none;
  background-color: #f0f0f8;
}

.login-google p {
  text-align: center;
}

.login-google img {
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.login-span.signup-span,
.login-span {
  text-align: center;
  padding: 15px;
  /* margin-top: 15px; */
  color: #542f17;
}

.login-span a,
.signup-span a {
  color: #f57b53;
}

/* ************************************************ */
/* SIGNUP VIEW */
.signup-btn {
  background-color: #f57b53;
  border: 1px solid #a6977b;
  border-radius: 15px;
  color: #fff;
  padding: 15px;
  cursor: pointer;
}

.signup-span {
  text-align: center;
  padding: 15px;
  margin-top: 15px;
}

/* ************************************************ */
/* FOOTER */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #decfb5;
  height: 120px;
  width: 100%;
  /* margin: 0 auto; */
  /* margin-top: 10px; */

  /* border: 1px solid red; */
}

.footer-container p {
  padding: 5px;
}

.nombres {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 5px; */
  /* border: 1px solid red; */
}

.nombres a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-footer {
  text-align: center;
  margin: 0 10px;
  color: #6583bf;
}

.logo-github {
  height: 30px;
  margin: 0 10px;
}

.eliminar {
  background-image: url("eliminar.png");
 background-size: cover;
 height: 40px;
 width: 40px;
}
.likeButton{
  background-image: url("MeGusta_inicial.png");
  background-size: cover;
  height: 40px;
  width: 40px;
}
.edit-button{
  background-image: url("editar.png");
  background-size: cover;
  height: 40px;
  width: 40px;
}
@media screen and (min-width: 768px) {
  #section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  body {
    background-image: url("books.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .login-container {
    background-color: #f0f0f8;

  }

  .signup-container {
    background-color: #f0f0f8;
  }

  .post-container {
    background-color: #f0f0f8;
  }

  .container-item {
    flex-wrap: wrap;
  }

  .login-input {
    flex-wrap: wrap;
  }

  .footer-container {
    height: 9em;
  }
}